<div class="tools">
  <h1>TOOLS</h1>

  <p>Here I will share my current tools and any new findings which simplify my
    development experience.</p>

  <div class="tools__section">
    <h2>Development Tools</h2>
    <ul class="tools__list">
      <li>Neovim <a href="https://github.com/moonc4ke/nvim-config" target="_blank">My Neovim Config</a></li>
      <li>Ghostty terminal</li>
      <li>Yazi terminal file manager</li>
      <li>Brave browser</li>
    </ul>
  </div>

  <div class="tools__section">
    <h2>Tech Stack</h2>
    <ul class="tools__list">
      <li>Ruby on Rails</li>
      <li>Sqlite, MongoDB, MySQL, Postgres</li>
      <li>Plain Javascript and CSS</li>
      <li>TailwindCSS</li>
      <li>Vue.js</li>
      <li>Nuxt.js</li>
      <li>Angular</li>
    </ul>
  </div>

  <div class="tools__section">
    <h2>Hardware</h2>
    <h3>Main Setup</h3>
    <ul class="tools__list">
      <li>
        <strong>Laptop:</strong>
        ASUS Vivobook Pro 16X OLED 64GB with EndeavourOS
      </li>
      <li>
        <strong>Keyboard:</strong>
        Keychron V3 ANSI, Frosted Black
      </li>
      <li>
        <strong>Monitor:</strong>
        Acer Nitro XV340CKP 34-inch monitor
      </li>
      <li>
        <strong>Mouse:</strong>
        Logitech G703
      </li>
    </ul>
  </div>
</div>
