<div class="tools">
  <h1>TOOLS</h1>

  <p>Here I will share my current tools and any new findings which simplify my
    development experience.</p>

  <div class="tools__section">
    <h2>Development Tools</h2>
    <ul class="tools__list">
      <li>Neovim (LazyVim with Avante.nvim)</li>
      <li>Ghostty terminal</li>
      <li>Yazi terminal file manager</li>
      <li>Brave browser</li>
    </ul>
  </div>

  <div class="tools__section">
    <h2>Tech Stack</h2>
    <ul class="tools__list">
      <li>Ruby on Rails</li>
      <li>Sqlite, MongoDB, MySQL, Postgres</li>
      <li>Plain Javascript and CSS</li>
      <li>TailwindCSS</li>
      <li>Vue.js</li>
      <li>Nuxt.js</li>
    </ul>
  </div>

  <div class="tools__section">
    <h2>Hardware</h2>
    <h3>Main Setup</h3>
    <ul class="tools__list">
      <li>
        <strong>Laptop:</strong>
        Macbook Pro 16 2023 with M2 Max 32 GB
      </li>
      <li>
        <strong>Keyboard:</strong>
        Keychron V3 ANSI, Frosted Black
      </li>
      <li>
        <strong>Monitor:</strong>
        Acer Nitro XV340CKP 34-inch monitor
      </li>
      <li>
        <strong>Mouse:</strong>
        Logitech G305 (this mouse is the goat, you can use one AA battery and
        it runs like forever)
      </li>
    </ul>

    <h3>Travel Setup</h3>
    <p>When I travel I only bring my laptop and mouse, and I do have an external
      mini 16-inch travel monitor. My fiancee order it from the TEMU and it
      works well. I mostly use it for dev tools.</p>
  </div>
</div>
