<div class="upload-progress hidden" data-image-upload-target="progressContainer">
  <div class="upload-progress__bar-container">
    <div class="upload-progress__bar" data-image-upload-target="progressBar" style="width: 0%"></div>
  </div>
  <div class="upload-progress__text" data-image-upload-target="progressText">0%</div>
</div>
