<%= link_to "Edit", edit_blog_post_path(@blog_post) if authenticated? %>

<div class="blog-post">
  <nav class="blog-post__actions">
    <%= link_to "Edit", edit_blog_post_path(@blog_post) if authenticated? %>
  </nav>

  <div class="blog-post__content">
    <h1 class="blog-post__title"><%= @blog_post.title %></h1>
    <div class="blog-post__body">
      <%= safe_blog_content(@blog_post) %>
    </div>
  </div>
</div>
