<div class="about">
  <h1>ABOUT</h1>

  <p>Hi there! I'm Donatas, aka Donce. I consider myself a balanced developer,
    or simply a surfer who happens to love coding. As you might guess, I tend
    to spend more time in the ocean chasing waves than sitting in front of a
    computer screen coding. But when I do code, I create good stuff! :D</p>

  <div class="about__image-wrapper">
    <%= image_tag "about/personal-photo.jpg",
    class: "about__image",
    alt: "personal photo" %>
  </div>

  <p>I also enjoy video games like Path of Exile 2, Diablo, and TFT. I'm a fan
    of manga and anime (please don't judge!) and I'm currently reading One
    Piece. When I'm not surfing, you can find me at the local gym somewhere in
    Lithuania, lifting weights and preparing for my next surf trip.</p>

  <div class="about__image-wrapper">
    <%= image_tag "about/surfing-photo.jpg",
    class: "about__image",
    alt: "surfing a wave" %>
  </div>
</div>
