.nav-menu {
  position: relative;
  width: 100%;
}

.nav-menu--open {
  height: 100vh;
  background-color: var(--tokyo-bg-primary);
  z-index: 1000;
}

.menu-button {
  position: relative;
  z-index: 2000;
}

.nav-menu__links {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.nav-menu__links--open {
  height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav-menu__link {
  display: none;
}

.nav-menu__links--open .nav-menu__link {
  display: block;
  font-size: var(--font-size-x-large);
  color: var(--tokyo-text-bright);
}

.nav-menu__links--open .nav-menu__link:hover {
  color: var(--tokyo-cyan);
  text-decoration: underline;
}

.nav-menu__background {
  position: absolute;
  top: 195%;
  right: 0;
  transform: translateY(-50%);
  height: 100px;
  width: auto;
  aspect-ratio: 1;
  background-image: url("/beerus-pyjamas.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  opacity: 0.5;
  z-index: 1;
}

@media screen and (min-width: 481px) {
  .nav-menu__background {
    top: 145%;
    height: 150px;
  }
}

@media screen and (min-width: 769px) {
  .nav-menu__background {
    height: 160px;
  }
}

.nav-menu--open .nav-menu__background {
  visibility: hidden;
}
