.nav-menu {
  position: relative;
  width: 100%;
}

.nav-menu--open {
  height: 100vh;
  background-color: var(--tokyo-bg-primary);
  z-index: 1000;
}

.menu-button {
  position: relative;
  z-index: 2000;
}

.nav-menu__links {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.nav-menu__links--open {
  height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav-menu__link {
  display: none;
}

.nav-menu__links--open .nav-menu__link {
  display: block;
  font-size: var(--font-size-x-large);
  color: var(--tokyo-text-bright);
}

.nav-menu__links--open .nav-menu__link:hover {
  color: var(--tokyo-cyan);
  text-decoration: underline;
}
