.projects {
  margin-top: 1.5rem;
}

.projects__error-message {
  margin-top: 1rem;
}

.projects__section {
  margin-top: 4rem;
}

.projects__section:first-of-type {
  margin-top: 2rem;
}

.projects__section h2 {
  font-size: var(--font-size-x-large);
  margin-bottom: 2rem;
  color: var(--tokyo-text-bright);
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 1.5rem;
}

.project-card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--tokyo-text-bright);
}

.project-card:hover {
  text-decoration: none;
}

.project-card__content-wrapper {
  position: relative;
  display: flex;
  height: 100%;
  border: 2px solid var(--tokyo-border);
  background-color: var(--tokyo-bg-primary);
  transition: transform 0.2s;
}

@media (hover: hover) {
  .project-card:hover .project-card__content-wrapper {
    transform: translate(-0.5rem, -0.7rem);
  }
}

.project-card__content {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: opacity 0.2s;
  background-color: var(--tokyo-bg-primary);
}

.project-card__title {
  line-break: anywhere;
}

@media (min-width: 640px) {
  .project-card__content {
    padding: 1.5rem;
  }
}

.project-card:hover .project-card__content {
  position: relative;
  opacity: 1;
}

.project-card__border-outline {
  position: absolute;
  inset: 0;
  border: 2px dashed var(--tokyo-border);
}

.project-card h3 {
  font-size: var(--font-size-large);
  margin-top: 0;
}

.project-card p {
  color: var(--tokyo-text-primary);
  margin-top: 0.5rem;
  font-size: var(--font-size-small);
}

.project-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 1.5rem;
  font-size: var(--font-size-xx-small);
}

.project-stats {
  color: var(--tokyo-yellow);
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.project-star-icon {
  margin-right: 0.1rem;
}

.project-language {
  color: var(--tokyo-cyan);
  padding: 0.3rem 0.8rem;
  background-color: var(--tokyo-bg-secondary);
  border: 1px solid var(--tokyo-text-secondary);
}

@media screen and (max-width: 768px) {
  .projects__grid {
    grid-template-columns: 1fr;
  }
}
